/* Aucune modification du CSS n'est nécessaire pour valider l'exercice ! Bonne chance ! */

body {
  background-color: #f39c12;
}

#app {
  display: flex;
}

#player {
  background-color: #f39c12;
}

#dealer {
  background-color: #e67e22;
}

.board {
  min-height: 100vh;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.dice {
  background-image: url('../images/dice-sprite.png');
  /*
  background-position: 0px -> 1
  background-position: 500px -> 2
  background-position: 400px -> 3
  background-position: 300px -> 4
  background-position: 200px -> 5
  background-position: 100px -> 6
  */
  width: 100px;
  height: 100px;
  margin: 1em;
}
